@page "/users/{id}/profile"
@page "/users/profile"
@inherits ProfileBase
@using MyDashboard.Web.Pages.ConfirmationComponent

<PageTitle>Profile</PageTitle>

<h1>
     @if(appUser == null){
        <spa>Student profile.</spa>
     }else{
        <span>@appUser.FirstName's profile.</span>
    }
</h1>

Student's profile details.
<br />
<br />

<Confirm AttributeSplatting="AttributeSplattingFromParent" OnDeleteCallBack="DeleteUser" @ref="_delDialog"/>

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card" style="background-color: transparent;">
            @if(appUser == null)
            {

            }else{
                <div class="card-header user-card-header">
                    <h1>@appUser.FirstName @appUser.LastName</h1>

                    <div>
                        <a @onclick="GoBack" class="btn btn-primary">Back</a>

                        <button class="btn btn-primary" @onclick="Toggle_Button">@buttonText</button>
                    </div>
                </div>


                <div class="card-body text-center">
                    <img class="card-img-top" style="max-width: 500px; margin-bottom:20px" src="@appUser.PhotoPath" />

                    <h4>ID : @appUser.AppUserId</h4>
                    <h4>Email : @appUser.Email</h4>
                </div>
                <div class="card-footer text-center @toggleBtnClass">
                    <a href="@($"users/{@appUser.AppUserId}/edit-profile")" class="btn btn-primary">Edit</a>
                    <a  @onclick="OpenDeleteConfirmationModal" class="btn btn-danger">Delete</a>
                </div>
            }
        </div>
        
    </div>
</div>