@page "/users"
@inherits AppUsersBase

<PageTitle>Users</PageTitle>

<h1>Users</h1>

List of registered users on this app.
@if( AppUsers == null)
{
    <p>Loading...</p>
}
else if(AppUsers.Any())
{
    <table>
    <thead>
        <tr>
            <th class="small-col">
                Photo
            </th>
            <th class="name-col" style="text-align: left;">
                Full Name & Email
            </th>
            <th class="small-col">
                Gender
            </th>
            <th>
                Department
            </th>

            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in AppUsers){
            <tr>
                <td class="small-col">
                    @if (user.PhotoPath != null)
                    {
                        <div class="user-photo-thumbnail">
                            <img src="@user.PhotoPath" alt="User Photo" /></div>
                    }
                    else
                    {
                        <div class="user-photo-thumbnail">
                        <img src="images/default-user.png" alt="Default User Photo"  /></div>
                    }
                </td>
                <td class="name-col"  style="text-align: left;">
                    <div>@user.FirstName @user.LastName</div>
                    <small style="font-size: 11px;">@user.Email</small>
                </td>
                <td class="small-col">@user.Gender</td>
                <td>@user.Department.DepartmentName</td>
                <td>
                    <a href="#">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
}else{
    <p>No users found.</p>
}
