@page "/users"
@inherits AppUsersBase

<PageTitle>All studnets</PageTitle>

<h1>Registered students</h1>

List of registered students on this app.
@if( AppUsers == null)
{
    <p>Loading...</p>
}
else if(AppUsers.Any())
{
    <table>
    <thead>
        <tr style="transform: none;">
            <th class="small-col">
                Photo
            </th>
            <th class="medium-col" style="text-align: left;">
                Full Name & Email
            </th>
            <th class="small-col">
                Gender
            </th>
            <th style="text-align: left;" >
                Birth Day
            </th>

            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in AppUsers){
            <tr>
                <td class="small-col">
                    <a href="@($"users/{user.AppUserId}/profile")">
                        @if (user.PhotoPath != null)
                        {
                            <div class="user-photo-thumbnail">
                                <img src="@user.PhotoPath" alt="User Photo" /></div>
                        }
                        else
                        {
                            <div class="user-photo-thumbnail">
                            <img src="images/default-user.png" alt="Default User Photo"  /></div>
                        }
                    </a>
                </td>
                <td class="medium-col"  style="text-align: left;">
                    <a href="@($"users/{user.AppUserId}/profile")">
                        <div>@user.FirstName @user.LastName</div>
                        <small style="font-size: 11px;">@user.Email</small>
                    </a>
                </td>
                <td class="small-col">@user.Gender</td>
                <td  style="text-align: left;" >@user.DateOfBrith.ToString("D")</td>
                <td>
                    <a href="@($"users/{user.AppUserId}/edit-profile")">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
}else{
    <p>No users found.</p>
}
