@page "/users/{id}/edit-profile"
@inherits EditProfileBase

<PageTitle>Edit Profile</PageTitle>

@if(appUser == null)
{
<h1>Edit User's Profile</h1>
}else{
<h1>Edit @appUser.FirstName's Profile</h1>
}

Update or delete user information.

<br />
<br />
<br />
<br />


<EditForm Model="@appUser">
    <div class="form-group row mb-2">
        <label for="@appUser.FirstName" class="col-sm-2 col-form-label">First Name</label>
        <div class="col-sm-10">
            <InputText @bind-Value="appUser.FirstName" class="form-control" placeholder="First Name"/>
        </div>
    </div>
    <div class="form-group row mb-2">
        <label for="@appUser.LastName" class="col-sm-2 col-form-label">Last Name</label>
        <div class="col-sm-10">
            <InputText @bind-Value="appUser.LastName" class="form-control" placeholder="Last Name" />
        </div>
    </div>
    <div class="form-group row">
        <label for="@appUser.Gender" class="col-sm-2 col-form-label">Gender</label>
        <div class="col-sm-10">
            <InputSelect @bind-Value="appUser.Gender" class="form-control">
            @foreach(Gender gender in Enum.GetValues(typeof(Gender)))
            {
                <option value="(int)@gender">@gender</option>
            }
            </InputSelect>
        </div>
    </div>
</EditForm>